*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:url(linkinpark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    background: rgba(96, 87, 97, 0.456);
    color: black;
    padding: 16px 0;
    text-align: center;
}
header h1{
    margin-bottom: 10px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin:10px
}
nav ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color:rgb(145, 7, 7);
    cursor:pointer;
}
/* Seções */
section{
    padding: 32px;
    margin: 16px;
    background: rgba(121, 125, 111, 0.227);
    border-radius: 8px;
    box-shadow: 0 4px 8px;
    justify-items:center;

}
.container{
    max-width: 600px;
    margin:0;
}
h2{
    margin-bottom: 16px;
}
.sobre-mim{
    display:flex;
    align-items: center;
    gap:16px;
}
.foto-perfil{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
    border:4px solid #333;
}
.cards{
    display: flex;
    gap:16px;
}
.card{
    padding:20px;
    align-items: center;
    text-align: center;
    width: 100%;
}
 .formacoes{
    display:flex;
    flex-direction: row;
    gap:16px;
 }
 .formacao{
    display:flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
    font-size: 18px
 }
 .formacao i{
    color:rgb(0, 0, 0)
 }
 .formacao h3{
    margin-bottom: 8px;
    color:rgb(0, 0, 0)
 }
 .formacao p{
    color:black
 }
 .cards{
    display:flex;
    flex-direction: row;
    gap:16px;
 }
 .card{
    display:flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
    font-size: 18px
 }
 .card i{
    color:rgb(0, 0, 0)
 }
 .card h3{
    margin-bottom: 8px;
    color:black
 }
 .card p{
    color:rgb(0, 0, 0)
 }  
  .hobbies{
    display:flex;
    flex-direction: row;
    gap:16px;
 }
 .hobby{
    display:flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
    font-size: 18px
 }
 .hobby i{
    color:rgb(0, 0, 0)
 }
 .hobby h3{
    margin-bottom: 8px;
    color:rgb(4, 4, 4)
 }
 .hobby p{
    color:rgb(2, 2, 2)
 }
 form{
    display: grid;
    gap: 8px;
 }
 input, textarea{
    width: 100%;
    padding: 2px;
    border-radius: 2%;
 }
 button{
    background:rgb(255, 97, 136);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
 }
 button:hover{
    background:rgb(189, 9, 66);
    color:black;
 }
 footer{
    color:black;
    text-align: center;
    padding: 16px 0;
 }
.redes-sociais{
    display:flex;
    flex-direction: row;
    gap:16px;
 }
 .rede-social{
    display:flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
    font-size: 18px
 }
 .rede-social i{
    color:rgb(0, 0, 0)
 }
 .rede-social h3{
    margin-bottom: 8px;
    color:rgb(0, 0, 0)
 }
 .rede-social p{
    color:rgb(0, 0, 0)
 }